<nav class="navbar is-fixed-top is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ "/" | relative_url }}">Home</a>
        <button class="button is-info navbar-burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
    <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
            <a class="navbar-item" onclick="closeNavbar()" href="{{ "/" | relative_url }}#academics">Academics</a>
            <a class="navbar-item" onclick="closeNavbar()" href="{{ "/" | relative_url }}#experience">Experience</a>
            <a class="navbar-item" onclick="closeNavbar()" href="{{ "/" | relative_url }}#skills">Skills</a>
            <a class="navbar-item" onclick="closeNavbar()" href="{{ "/" | relative_url }}#interests">Interests</a>
        </div>
        <div class="navbar-end">
            <a class="navbar-item" href="{{ "/blog" | relative_url }}">Blog</a>
        </div>
    </div>
</nav>